.Subscribe-button{
    background-color: red;
    height: 86px;
    width: 200px;
    border-radius: 4px;
    color: white;
    margin: 10px 5px ;
    border: none;
    cursor: pointer;
    font-size: 30px;
    transition: opacity 0.5s;
}
.Subscribe-button:hover{
    opacity: 0.5;
}
.Subscribe-button:active{
    opacity: 0.2;
}
 
.Join-button{
    color: rgb(9, 84, 182);
    background-color: white;
    border-color: solid;
    border-radius: 2px;
    border-color:rgb(9, 84, 182) ;
    height: 86px;
    width:100px;
    font-size: 30px;
    cursor: pointer;
    transition: background-color 1s;
}

.Join-button:hover{
    background-color:rgb(9, 84, 182) ;
    color: white;
}
.Join-button:active{
    opacity: 0.5, 1s;
}
 

.tweet-button{
    color: rgb(255, 255, 255);
    background-color: rgb(26, 112, 211);
    border-radius: 40px;
    border-style: solid;
    border-color:rgb(9, 84, 182) ;
    height: 86px;
    width:150px;
    font-size: 30px;
    margin: 10px 5px ;
    cursor: pointer;
    transition: box-shadow 0.15s; 

}

.tweet-button:hover{
   box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
    
}

.Rnow{
    color: white;
    background-color: black;
    height: 70px;
    width: 150px;
    font-size: 20px;

}