p{
    font-family: arial;
}

.video-title{
  
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    margin-top: 150px;
    margin-bottom: 2px;
    width: 284px;

}

.video-stat{
    font-size: 14px;
    margin-top: 2px;
    color: #606060;
}

.video-creator{
    color: #606060;
    font-size: 14px;
    width: 284px;
    line-height: 20px;
}

.apple-text{
    background-color: #e34140;
    color: white;
    font-size: 14px;
    line-height: 21px;
    margin-top: 50px;
    padding: 16px 16px;
    text-align: center;
}

.shop-link{
    cursor: pointer;
}

.shop-link:hover{
    text-decoration: underline;
}